.simditor-single-line .simditor-toolbar {
  float: right;
  width: auto;
  border-bottom: none;
  border-left: 1px solid #eeeeee;
}

.simditor-single-line .simditor-body {
  min-height: 1.5em;
  height: 1.5em;
  box-sizing: content-box;
  padding: 0.5em 1em;
  margin-right: 53px;

  white-space: nowrap;
  overflow: hidden;
}

.simditor-single-line .simditor-body br {
  display: none;
}

.simditor-single-line .simditor-body * {
  display: inline;
  white-space: nowrap;
}

.simditor-single-line .simditor-toolbar > ul > li {
  position: static;
}

.simditor-single-line .simditor-toolbar .toolbar-menu {
  width: 100%;
}

.simditor-single-line .simditor-toolbar .toolbar-menu:before {
  background-color: transparent;
}

.simditor-single-line .simditor-toolbar .toolbar-menu ul {
  max-height: 150px;
  overflow: auto;
}
