<div class="form-group {{kepsGroupClass}}">
	<div class="row">
		<div class="col-xs-12">
			<span ng-show="kepsType.required" style="color:red;">*</span>
			<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
      <select ng-if="isObj(kepsType.options[0])" ng-readonly="kepsType.readOnly" class="form-control {{kepsInputClass}}" ng-model="data.value" ng-options="option.value as option.label for option in kepsType.options"></select>
      <select ng-if="!isObj(kepsType.options[0])" ng-readonly="kepsType.readOnly" class="form-control {{kepsInputClass}}" ng-model="data.value" ng-options="option for option in kepsType.options"></select>
			<span class="help-block"  ng-if="kepsType.instructions">
				{{kepsType.instructions}}
			</span>
			<span style="color:red;margin-left:20px;" ng-show="errorMsg">
				{{errorMsg}}
			</span>
		</div>
	</div>
</div>
