
<div class="form-group">
	<div class="row">
		<div class="col-xs-12">
			<span ng-show="kepsType.required" style="color:red;">*</span>
			<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
			<div class="form-group {{kepsGroupClass}}">
			  <div class="input-group">
			    <span class="input-group-btn">
			      <span class="btn btn-default {{kepsButtonClass}}" style="min-width: 0;padding-left:20px;padding-right:20px;display:inline-block;">
			        Load File  
			        
			        <input ng-if="kepsAcceptFileTypes" type="file" 
			        accept="{{kepsAcceptFileTypes}}" style="position:absolute;opacity:0;top: 0;right: 0;
		    		min-width: 100%;min-height: 100%;" onchange="angular.element(this).scope().fileChanged(event)">
		    		
		    		<input ng-if="!kepsAcceptFileTypes" type="file"
		    		 style="position:absolute;opacity:0;top: 0;right: 0;" onchange="angular.element(this).scope().fileChanged(event)">
			      </span>
			    </span>
			    <input type="text" class="form-control" ng-readonly="kepsType.readOnly"  value="{{uploadStatus}}">

			  </div>
			</div>
			<span class="help-block"  ng-if="kepsType.instructions">
				{{kepsType.instructions}}
			</span>
			<span style="color:red;margin-left:20px;" ng-show="errorMsg">
				{{errorMsg}}
			</span>
		</div>
	</div>
</div>