<div class="form-group {{kepsGroupClass}}">
	<span ng-show="kepsType.required" style="color:red;">*</span>	
	<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
	<simditor ng-model="data.value" options="{required:kepsType.required, disabled:true, kepsTags:kepsType.tags}"></simditor>
	<span class="help-block" ng-if="kepsType.instructions">
		{{kepsType.instructions}}
	</span>
	<span style="color:red;margin-left:20px;" ng-show="errorMsg">
		{{errorMsg}}
	</span>
</div>