<div class="form-group {{kepsGroupClass}}">
  <span ng-show="kepsType.required" style="color:red;">*</span>
  <label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
  <div class="checkbox" ng-repeat="opt in kepsType.options">
    <label ng-if="isObj(opt)" ><input
        type="checkbox"
        ng-click="checkMulti(opt.value);errorChecking();"
        ng-checked="inArray(opt.value)"
        ng-readonly="kepsType.readOnly">
      {{opt.label}}
    </label>
    <label ng-if="!isObj(opt)" ><input
        type="checkbox"
        ng-click="checkMulti(opt);errorChecking();"
        ng-checked="inArray(opt)"
        ng-readonly="kepsType.readOnly">
      {{opt}}
    </label>
  </div>
  <span class="help-block"  ng-if="kepsType.instructions">
    {{kepsType.instructions}}
  </span>
  <span style="color:red;margin-left:20px;" ng-show="errorMsg">
    {{errorMsg}}
  </span>
</div>
