<div class="form-group {{kepsGroupClass}}">
	<span ng-show="kepsType.required" style="color:red;">*</span>	
	<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
	<input 	type="number" 
			ng-model="data.value"
			min={{kepsType.min}}
			max={{kepsType.max}} 
			step={{kepsType.step}}
			class="form-control {{kepsInputClass}}" 
			ng-required="kepsType.required" 
			placeholder="{{kepsType.placeholder}}"
			numbers-only="{{kepsType.round == 0}}"
			ng-keyup="errorChecking()"
			ng-readonly="kepsType.readOnly"/>
	<span class="help-block"  ng-if="kepsType.instructions">
		{{kepsType.instructions}}
	</span>
	<span style="color:red;margin-left:20px;" ng-show="errorMsg">
		{{errorMsg}}
	</span>
</div>