<div class="form-group {{kepsGroupClass}}">
	<span ng-show="kepsType.required" style="color:red;">*</span>
	<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
	<!--<input ng-readonly="kepsType.readOnly" type="text" list="{{kepsType.label || kepsName}}" class="form-control {{kepsInputClass}}" ng-model="data.reference"
	ng-blur="setReferenceData()"></input>
    <datalist id="{{kepsType.label || kepsName}}">
    	{{referenceOptions}}
    	<option ng-repeat="option in referenceOptions" value="{{option['name']}}" 
    	>{{option[data.displayReferenceAs]}}</option>
    </datalist>-->
    <select class="form-control" ng-model="data.value">
    	<option ng-repeat="reference in referenceOptions" value="{{reference._id}}">{{reference.name}}</option>
    </select>
	<span class="help-block"  ng-if="kepsType.instructions">
		{{kepsType.instructions}}
	</span>
	<span style="color:red;margin-left:20px;" ng-show="errorMsg">
		{{errorMsg}}
	</span>
</div>