<div class="form-group {{kepsGroupClass}}">			
	<span ng-show="kepsType.required" style="color:red;">*</span>
	<label class="{{kepsLabelClass}}">{{kepsType.label}}</label>
	<input 	type="url"
			ng-model="data.value" 
			class="form-control {{kepsInputClass}}" 
			ng-required="kepsType.required" 
			placeholder="{{kepsType.display.placeholder}}"
			ng-readonly="kepsType.readOnly"/>
	<span class="help-block"  ng-if="kepsType.instructions">
		{{kepsType.instructions}}
	</span>
	<span style="color:red;margin-left:20px;" ng-show="errorMsg">
		{{errorMsg}}
	</span>
</div>
